# Virtual Environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# MacOS
.DS_Store

# Test / Coverage
.pytest_cache/
.coverage

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Redis
dump.rdb